*{margin: 0; padding: 0;}

a.nav-link {
    color: #101010;
    font-family: segoe ui;
    text-transform: uppercase;
}

nav.navbar.navbar-light {
    padding: 0;
    background: #fff;
} 

@media (min-width: 768px){
    nav.navbar.navbar-light {
        height: 90px;
    }
}
@media (max-width: 768px){
    a.nav-link {
        padding: .2rem 1rem;
    }

    ul.nav.navber-nav {
        justify-content: center;
    }

    a.navbar-brand {
        width: 100%;
        text-align: center;
    }
}

.banner{
    height: 100vh;
    background: #e9585f;
    position: relative;
}
.banner::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 50%;
    background: #e4555b;
}
.banner .banner--content{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
@media (min-width: 768px){
    .banner .banner--content{
        top: calc(50% + 45px);
    }
}
@media (min-width: 342px) and (max-width: 767px){
    .banner .banner--content{
        top: calc(50% + 75.375px);
    }
}
@media (max-width: 341px){
    .banner .banner--content{
        top: calc(50% + 90.565px);
    }
}
.banner .banner--content img{
    border-radius: 50%;
}
.banner .banner--content h2{
    color: #fff;
    text-transform: uppercase;
}
.banner .banner--content p{
    width: 50%;
    margin: auto;
    margin-bottom: 1.5rem;
    color: #101010;
}
.banner .banner--content .btn.nuthire{
    width: 180px;
    background: #101010;
    color: #fff;
    border-color: #101010;
    border-radius: 0;
}