* {
    margin: 0;
    padding: 0;
}

#comments {
    padding-bottom: 4rem;
}

html {
    font-size: 15px;
}

@font-face {
    font-family: QM;
    src: url('fonts/QUICKSAND-MEDIUM.TTF');
}

body {
    font-family: QM;
}

a.nav-link {
    color: #101010;
    text-transform: uppercase;
}

nav.navbar.navbar-light {
    padding: 0;
    background: #fff;
}

@media (min-width: 768px) {
    nav.navbar.navbar-light {
        height: 90px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 13px;
    }
    a.nav-link {
        padding: .2rem 1rem;
    }
    ul.nav.navber-nav {
        width: 100%;
        justify-content: center;
    }
    a.navbar-brand {
        width: 100%;
        text-align: center;
    }
}

.double-background {
    background: #e9585f;
    position: relative;
}

.double-background::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 50%;
    background: #e4555b;
}

.banner {
    height: 100vh;
}

.banner .banner--content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@media (max-width: 767px) {
    .banner .banner--content img {
        width: 100px !important;
    }
}

@media (min-width: 768px) {
    .banner .banner--content {
        top: calc(50% + 45px);
    }
}

@media (min-width: 342px) and (max-width: 767px) {
    .banner .banner--content {
        top: calc(50% + 75.375px);
    }
}

@media (max-width: 341px) {
    .banner .banner--content {
        top: calc(50% + 68.465px);
    }
}

.banner .banner--content img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.banner .banner--content h2 {
    color: #fff;
    text-transform: uppercase;
}

.banner .banner--content p {
    width: 50%;
    margin: auto;
    margin-bottom: 1.5rem;
    color: #101010;
}

.banner .banner--content .btn.nuthire {
    width: 180px;
    background: #101010;
    color: #fff;
    border-color: #101010;
    border-radius: 0;
}

.computer-mouse {
    position: absolute;
    width: 40px;
    height: 77px;
    border: 1px solid #fff;
    border-radius: 30px;
    left: 50%;
    bottom: 6%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: .4s;
}

.computer-mouse:hover {
    bottom: 3.5%;
    box-shadow: 0px 2px 3px -1px #000;
}

.computer-mouse::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 10px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
}

.title-main-block {
    margin-top: 6rem;
    margin-bottom: 4rem;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 576px) {
    .col-sm-6.border-left.border-dark.mb-5.exp-col {
        border: 0 !important;
    }
}

.exp-title span {
    font-size: 2.5rem;
    text-transform: uppercase;
    position: relative;
}

.exp-title span::before,
.exp-title span::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 2px;
    background: #e4555b;
}

.exp-title span::before {
    top: 100%;
}

.exp-title span::after {
    top: 110%;
    left: 10px;
}

.exp-col {
    margin-bottom: 30px;
}

.exp-col-title {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.exp-detail:not(:last-child) {
    margin-bottom: 50px;
}

.exp-detail--title {
    color: #e4555b;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.exp-detail--description {
    font-size: 1.1rem;
    margin-bottom: 10px;
    display: block;
}

.exp-detail--content {
    font-size: 1rem;
    line-height: 1.6rem;
}

.exp-detail--content a {
    display: block;
}

.exp-detail--content img {
    width: 100%;
    cursor: pointer;
}

.exp-detail--content+.modal {
    padding: 0 !important;
}

.exp-detail--content+.modal .modal-dialog {
    max-width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 830px) {
    .exp-detail--content+.modal .modal-dialog {
        width: 100vw !important;
        margin: 0 !important;
    }
    .exp-detail--content+.modal .modal-dialog img {
        max-width: 100%;
    }
}

.exp-detail--content+.modal .modal-dialog .modal-header {
    height: 0;
    padding: 0 !important;
    position: relative;
    border: none;
}

.exp-detail--content+.modal .modal-dialog .modal-header button.close {
    position: absolute;
    background: #fff;
    right: 15px;
    top: 15px;
    padding: 3px 10px;
    display: none;
}

.exp-detail--content+.modal .modal-dialog .modal-content {
    border: none;
}

.exp-detail--content+.modal .modal-dialog .modal-content:hover .modal-header button.close {
    display: block;
}

.modal-backdrop.in {
    opacity: .6;
}

#contact {
    padding-bottom: 50px;
    color: #fff;
}

#contact .my-name {
    margin-bottom: 20px;
}

.contact-item {
    margin-bottom: .8rem;
}

.contact-item>i {
    width: 25px;
    text-align: center;
}

.contact-item>a {
    color: #fff;
}